<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="SeleniumFrameWork.TestComponents.Listen_Listeners"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="frameWorkPrac.FrameWorkPrac.TestFlow"/>
      <class name="frameWorkPrac.FrameWorkPrac.DatProviderEx"/>
      <class name="frameWorkPrac.FrameWorkPrac.Using_HashMap"/>
      <class name="frameWorkPrac.FrameWorkPrac.Using_Json_For_HashMap"/>
      <class name="frameWorkPrac.FrameWorkPrac.ErrorValidation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
